
<div class="container-fluid">

<h2>Movies</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Plot</th>
      <th>Celebrity</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies as |movie| }}
      <tr>
        <td>
          <a href="/movies/{{movie._id}}/edit">{{ movie.title }}</a>
        </td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.plot }}</td>
        <td>
          <a href="/celebrities/{{movie.celebrity._id}}">{{movie.celebrity.name}}</a>
        </td>
      </tr>
    {{/each}}
    <a class="btn btn-primary mb-3" href="/movies/create">New Movie</a>
  </tbody>
</table>

<h2>Celebrities</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Occupation</th>
      <th>CatchPhrase</th>
    </tr>
  </thead>
  <tbody>
    {{#each celebrities as |celebrity| }}
      <tr>
        <td>
          <a href="/celebrities/{{celebrity._id}}/">{{ celebrity.name }}</a>
        </td>
        <td>{{ celebrity.occupation }}</td>
        <td>{{ celebrity.catchPhrase }}</td>
      </tr>
    {{/each}}
    <a class="btn btn-primary" href="/celebrities/create">New Celebrity</a>
  </tbody>
</table>

</div>