{{#if movie.isNew }}
  <form action="/movies/create" method="post" class="create-form">
  <h1>Create a new Celebrity</h1>
{{else}}
  <form action="/movies/{{movie.id}}/edit" method="post" class="create-form">
{{/if}}

  <div class="form-group">
    <label for="title">title</label>
    <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
  </div>

  <div class="form-group">
    <label for="genre">genre</label>
    <input type="text" class="form-control" id="genre" name="genre" value="{{movie.genre}}">
  </div>

  <div class="form-group">
    <label for="plot">plot</label>
    <input type="text" class="form-control" id="plot" name="plot" value="{{movie.plot}}">
  </div>

  <div class="form-group">
    <label for="celebrity">celebrity</label>
    <select class="form-control" name="celebrity">
      {{#each celebrities as |celebrity|}}
        <option value="{{celebrity.id}}">{{celebrity.name}}</option>
      {{/each}}
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>