<div class="movies-container">
<div class="movies-subcontainer">
<h2>Movies</h2>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Plot</th>
      <th>Celebrity</th>
    </tr>
  </thead>
  <tbody>
    {{#each movies as |movie| }}
      <tr>
        <td><a href="/movies/{{movie._id}}/edit">{{ movie.title }}</a></td>
        <td>{{ movie.genre }}</td>
        <td>{{ movie.plot }}</td>
        <td>
          <a href="/celebrities/{{movie.celebrity._id}}">{{movie.celebrity.name}}</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-primary btn-block mb-3" href="/movies/create">New Movie</a>
</div>
</div>

<a class="btn btn-primary mb-3" href="/">Back to home</a>